*.project
**/target/*
**/.settings/*
**/.classpath
**/.idea/*
*.idea
*.iml
**/.idea/*
**/logs/*
*.factorypath
**/log/*

docs/需求文档/(2019.6.13)6.13.docx
docs/需求文档/~$019.6.13)6.13.docx
codes/imp-parent/imp-inteface/run/
codes/imp-parent/imp-inteface/run.zip
codes/imp-parent/imp-web/src/main/resources/dll/
codes/face-search/dll/
codes/imp-cluster-parent/face-comperasion-web/runapp/
codes/imp-cluster-parent/face-delection-cloud/lib/
codes/imp-cluster-parent/face-delection-cloud/runapp/
codes/imp-cluster-parent/face-delection-cloud/src/main/resources/dll/
codes/imp-cluster-parent/face-search/src/main/resources/dll/
docs/环境部署/
codes/imp-cluster-parent/imp-interface/runApp/
codes/imp-cluster-parent/imp-interface/lib/
codes/imp-cluster-parent/face-delection-cloud/run/
codes/imp-cluster-parent/imp-dock/runapp/

codes/imp-cluster-parent/face-comperasion-web/lib/feign-form-3.8.0.jar
codes/imp-cluster-parent/face-comperasion-web/lib/feign-form-spring-3.8.0.jar
codes/imp-cluster-parent/face-comperasion-web/lib/
codes/imp-cluster-parent/imp-web/lib/
codes/imp-cluster-parent/face-comperasion-rest/
codes/imp-cluster-parent/face-comperasion-spark/lib/
codes/imp-cluster-parent/face-detection-rest/
codes/imp-cluster-parent/kafka-data/lib/
docs/人脸比对/softkey/
codes/imp-cluster-parent/feighn-data/lib/archaius-core-0.7.6.jar
codes/imp-cluster-parent/feighn-data/lib/
